doctype html

html
head
    title Main Page
    link(href="css/shared.css" rel="stylesheet" type="text/css")
    link(href="css/productDetailPage/productDetailPage_shared.css" rel="stylesheet" type="text/css")
    link(href="css/productDetailPage/productDetailPage_Accreditation.css" rel="stylesheet" type="text/css")
    link(href="css/storeDetailPage/storeDetailPage_Brand.css" rel="stylesheet" type="text/css")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="js/storeDetailPage/storeDetailPage_Brand.js" type="text/javascript")
    link(rel='stylesheet',type='text/css',href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script.
        window.jQuery || document.write('script(src="js/jquery.js")')
body
    div(class="pageheader")
        div(class="pageheader_title")
            a(href="/feature" class="pageheader_title__anchor") KINDER FOOD FINDER
            div(class="ertical-align")
        div(class="pageheader_navigationbar")
            ul(class="pageheader_navigationbar__items")
                li(class="pageheader_navigationbar__item")
                    input(id="pageheader_navigationbar__searchbox" type="text" name="SearchBrandName" Placeholder="Search a brand name...")
                    div(class="vertical-align")
                li(class="pageheader_navigationbar__item")
                    a(href="/feature") ABOUT THE SERVER
                li(class="pageheader_navigationbar__item")
                    a(href="/feature") GUIDELINE
                li(class="pageheader_navigationbar__item")
                    a(href="/logout") LOGOUT
    div(class="pagebody")
        div(class="pagebody_navigationbar")
            p CONTROL PANEL
            div(class="pagebody_navigationbar__header")
                a(href="/feature") Report
            div(class="pagebody_navigationbar__header")
                a(href="/importinsertPage") Import/ Insert Data
            div(class="pagebody_navigationbar__header")
                a(href="/dbmanagement") Update/ Delete Brand
            div(class="pagebody_navigationbar__header")
                a(href="/publish") Publish
        div(class="pagebody_mainbody")
            div(class="brand")
                div(class="pagebody_mainbody__sectionheader__brand")
                    p #{storename}
                div(class="pagebody_controlpanel")
                    - var id = storeid
                    a.pagebody_controlpanel_item(href="/detailstorePage?storeid=" + id) Store Summary
                    a.pagebody_controlpanel_item(href="/detailstorePage_Address?storeid=" + id) Address
                    a.pagebody_controlpanel_item.selected_item(href="/detailstorePage_Brand?storeid=" + id) Brand
                div(class="pagebody_mainbody__infodisplay")
                    - var id = storeid
                    input.pagebody_mainbody__infodisplay__searchinput(type="search",title = id, placeholder ="Please enter the Brand . . .")
                    div.pagebody_mainbody_infodisplay__searchsubmitbutton Search
                    div.pagebody_mainbody_infodisplay__deletebutton
                        label.deletebutton_button.deletebutton_selectall.button Select All
                            input.button_selectall(type='checkbox')
                            span.checkmark
                        - var id = storeid
                        div.deletebutton_button.deletebutton_addAccreditation(data-toggle="modal", data-target="#exampleModalScrollable")
                        div.deletebutton_button.deletebutton_deletemarked(value=id)
                            svg(xmlns="http://www.w3.org/2000/svg",width="24",height="24",viewBox = "0 0 24 24")
                                path(d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")

                    div.pagebody_mainbody_infodisplay_Accreditationlist
                        table.accreditationlist_table
                            thead
                                tr(role="row")
                                    th.accreditationlist_table__item Brand Name
                                    th.accreditationlist_table__item Category
                                    th.accreditationlist_table__item
                            tfoot
                                tr(role="row")
                                    th.accreditationlist_table__item Brand Name
                                    th.accreditationlist_table__item Category
                                    th.accreditationlist_table__item
                            tbody
                                - for (var i =0 ; i < brand.length ; i++)
                                    tr.accreditationlist_table_tablerow(role="row")
                                        - var id = storeid;
                                        td.accreditationlist_table__item.accreditationlist_table__Accreditation #{brand[i].Brand_Name}
                                        td.accreditationlist_table__item.accreditationlist_table__Accreditation #{brand[i].Category}
                                        td.accreditationlist_table__item.accreditationlist_table__Accreditation
                                            label.button
                                                - var brandid = brand[i]._id
                                                input.accreditationlist_table__Delete(value = brandid, type='checkbox')
                                                span.checkmark
                        if(pages > 0)
                            ul.pagination
                                if(current == 1)
                                    li.pagination_button.page-item.previous#dataTable_previous.disabled(title = searchstring)
                                        a.page-link(href="#",aria-controls="dataTable", data-dt-idx="0", tabindex="0") Previous
                                else
                                    li.pagination_button.page-item.previous#dataTable_previous(title = searchstring)
                                        a.page-link(href="#",aria-controls="dataTable", data-dt-idx="0", tabindex="0") Previous
                                - var j = ( current > 5 ? current - 4 : 1)
                                    if (j !== 1)
                                        li.pagination_button.page-item.disabled(title = searchstring)
                                            a.page-link(href="#",aria-controls="dataTable", data-dt-idx="0", tabindex="0") ...
                                    - for(; j <= (Number(current) + 4) && j <= pages; j++)
                                        if(j == current)
                                             li.pagination_button.page-item.active(title = searchstring)
                                                a.page-link(href="#",aria-controls="dataTable", data-dt-idx="0", tabindex="0") #{j}
                                        else
                                            li.pagination_button.page-item(title = searchstring)
                                                a.page-link(href="#",aria-controls="dataTable", data-dt-idx="0", tabindex="0") #{j}
                                        if(j == current + 4 && j < pages)
                                            li.pagination_button.page-item.disabled(title = searchstring)
                                                a.page-link(href="#",aria-controls="dataTable", data-dt-idx="0", tabindex="0") ...
                                    if (current == pages)
                                        li.pagination_button.page-item.next#dataTable_next.disabled(title = searchstring)
                                            a.page-link(href="#",aria-controls="dataTable", data-dt-idx="0", tabindex="0") Next
                                    else
                                        li.pagination_button.page-item.next#dataTable_next(title = searchstring)
                                            a.page-link(href="#",aria-controls="dataTable", data-dt-idx="0", tabindex="0") Next

    div.modal.fade#exampleModalScrollable(role="dialog",tabindex="-1",aria-hidden="true",)
        div.modal-dialog.modal-dialog-scrollable.modal-lg(role="document")
            div.modal-content
                div.modal-header
                    h4.modal-title Add brand(s) to the store
                    button.close(type='button', data-dismiss='modal') x
                div.modal-body
                    input.modal-body__search(type="search",placeholder="Search for a brand...")
                    table.modal-body__store
                        thead
                            tr(role="row")
                                th.modal-body__store__sixty Brand Name
                                th.modal-body__store__twenty Category
                                th.modal-body__store__twenty
                        tbody
                            - for (var i =0 ; i < brandnotinstore.length ; i++)
                                tr.modal-body__store__brandnotinstorelist(role="row")
                                    - var id = storeid;
                                    td.modal-body__store__sixty #{brandnotinstore[i].Brand_Name}
                                    td.modal-body__store__twenty #{brandnotinstore[i].Category}
                                    td.modal-body__store__twenty.modal-body__store__twenty__btn
                                        input.modal-body__store__insertbrandtostore(type="button",data-storeid=id,data-brandid = brandnotinstore[i]._id,value="Add")
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss = "modal") Close

    div(class="feature_page_footer")
        div(class="bottom_copyright")
            p &copy; 2019 IT Capstone Project - KinderFoodFinder. All rights reserved | Design by Team 2 - COMP5703