doctype html

html
head
    title Product Detail Page
    link(rel='stylesheet',type='text/css',href='css/fontawesome-free/all.min.css')
    link(rel='stylesheet',type='text/css',href='css/dataTables/dataTables.bootstrap4.css')
    link(rel='stylesheet',type='text/css', href='css/shared.css')
    link(rel='stylesheet',type='text/css',href='css/sb-admin.min.css')
    link(href="css/productDetailPage/productDetailPage.css" rel="stylesheet" type="text/css")
    link(href="css/productDetailPage/productDetailPage_shared.css" rel="stylesheet" type="text/css")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/shared.js" type="text/javascript")
    script(src="js/productDetailPage/productDetailPage.js" type="text/javascript")
    script.
        window.jQuery || document.write('script(src="js/jquery.js")')
body
    div(class="pageheader")
        div(class="pageheader_title")
            a(href="/feature" class="pageheader_title__anchor") KINDER FOOD FINDER
            div(class="ertical-align")
        div(class="pageheader_navigationbar")
            ul(class="pageheader_navigationbar__items")
                li(class="pageheader_navigationbar__item")
                    input(id="pageheader_navigationbar__searchbox" type="text" name="SearchBrandName" Placeholder="Search a brand name...")
                    div(class="vertical-align")
                li(class="pageheader_navigationbar__item")

                li(class="pageheader_navigationbar__item")
                    a(href="/reset") RESET ACCOUNT
                li(class="pageheader_navigationbar__item")
                    a(href="/logout") LOGOUT
    div(class="pagebody")
        div(class="pagebody_navigationbar")
            p CONTROL PANEL
            div(class="pagebody_navigationbar__header")
                a(href="/report") Report
            div(class="pagebody_navigationbar__header")
                a(href="/importinsertPage") Import/ Insert Data
            div(class="pagebody_navigationbar__header")
                a(href="/dbmanagement") Update/ Delete Brand
            div(class="pagebody_navigationbar__header")
                a(href="/store_dbmanagement") Update/ Delete Store
            div(class="pagebody_navigationbar__header")
                a(href="/publish") Publish
        div(class="pagebody_mainbody")
            div(class="brand")
                div(class="pagebody_mainbody__sectionheader__brand")
                    p #{brandname}
                div(class="pagebody_controlpanel")
                    - var id = brandid
                    a.pagebody_controlpanel_item.selected_item(href="/detailproductPage?productid=" + id) Brand Summary
                    a.pagebody_controlpanel_item(href="/detailproductPage_Accreditation?productid=" + id) Accreditation
                    a.pagebody_controlpanel_item(href="/detailproductPage_Store?productid=" + id) Store
                div(class="pagebody_mainbody__infodisplay")
                    span.pagebody_mainbody__infodisplay__span.pagebody_mainbody__infodisplay__image
                        - var image = brandimage
                        - var name = brandname
                            if(image.localeCompare("null") == 0)
                                img(src="../images/no-image.png", alt="Oops, Image not found!")
                            else
                                img(src="../uploads/" + image+".jpg", alt= name)
                    span.pagebody_mainbody__infodisplay__span
                        div.infodisplay_settings_item Brand name
                        div.infodisplay_settings_item.infodisplay_settings_editable #{brandname}
                        div.infodisplay_settings_item.infodisplay_settings_edittext Edit
                    span.pagebody_mainbody__infodisplay__span
                        div.infodisplay_settings_item Category
                        div.infodisplay_settings_item.infodisplay_settings_editable #{brandcategory}
                        div.infodisplay_settings_item.infodisplay_settings_edittext Edit
                    span.pagebody_mainbody__infodisplay__span__nonclickable
                        div.infodisplay_settings_item Image
                        div.infodisplay_settings_item
                            form#infodisplay_settings_item__form(action="/detailproductPage_updateBrandSummary" method="post" enctype="multipart/form-data")
                                input#infodisplay_settings_item__form__File(type="file" accept="image/*" name="Image" class="inputform_brand__BrandImage")
                        div.infodisplay_settings_item
                    span.pagebody_mainbody__infodisplay__span__nonclickable
                        div.infodisplay_settings_item
                        div.infodisplay_settings_item.infodisplay_settings_center #{accreditacount}
                        div.infodisplay_settings_item.infodisplay_settings_right Accreditations for this brand
                    span.pagebody_mainbody__infodisplay__span__nonclickable
                        div.infodisplay_settings_item
                        div.infodisplay_settings_item.infodisplay_settings_center #{storecount}
                        div.infodisplay_settings_item.infodisplay_settings_right Stores have this brand
                    span.pagebody_mainbody__infodisplay__span__submit
                        - var id = brandid
                        div.infodisplay_settings_item.infodisplay_settings__submitbutton.display_none(title = id) Submit
                        div.infodisplay_settings_item.infodisplay_settings__resetbutton.display_none Reset
